
.container{
  width: 70%;
  
  margin: 0.7em auto 0;
  padding: 1em;

  box-shadow: -5px 5px 10px 0px rgb(209, 209, 209);

}

h1{
  text-align: center;
  padding: 10px;
}

h2{
  padding: 0 40px;
}

.posts{
  width: 100%;
  margin-top: 10px;
  display: flex;

  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.posts>section{
  width: 50em;

  box-sizing: border-box;
  overflow: auto;

  margin: 0.7em 0.7em 0.7em;
  padding: 35px;

  border-radius: 5px;
  box-shadow: -5px 5px 10px 0px rgba(163,163,163);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts>section>*{
  width: 100%;
}

.posts>section>img{
  border-radius: 5px;
  width: 70%;
  height: auto;
}

.posts>section>h3{
  padding-left: 35px;

  width: 100%;
  box-sizing: border-box;
}

.posts>section>p.likes{
  width: 100%;
  box-sizing: border-box;

  text-align: end;
}